.places {
  padding-top: 92px;
  max-width: calc(100% - 296px);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1023px) {
  .places {
    padding-top: 88px;
    max-width: calc(100% - 48px);
    gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding-top: 64px;
    max-width: 100%;
    gap: 50px;
  }
}
